

body{
    background-color: #f6f6f6;
    font-family: Helvetica;
    color: #636363;
}

.wrapper{
    max-width: 100%;
}

/* --------------------nav bar-------------------- */
header{ 
    background-color:#FE9F9D;
    max-width: 100%;
    height: 100px;
    padding: 20px 120px;
    display: flex;
    font-size: 24px;      
}

header img{
    width: 50px;
    height: 50px;
}

header ul{
    display: flex;
    margin: right;
    align-items: center;
    margin-left: auto;
}

header ul li{
    padding: 0 15px;
    list-style: none;
    text-align: center;
    /* display: inline;
    vertical-align:middle; */
}

header ul li a{
    text-decoration: none;
    color: white;
}

header ul li i{
    color: white;
}

/* --------------------top-------------------- */

.top{
    margin: 120px;
    display: flex;
    /* background-color: gainsboro; */
    padding: 2% 0;

}
.top h1{
    color: #636363;
    font-size: 80px;
    font-weight:bold;
    padding: 5% 0;
}
.top h2{
    color: #636363;
    font-size: 60px;
}
.top a{
    display: block;
    width: 175px;
    height: 55px;
    background-color: #FE9F9D;
    border-radius: 50px;
    color:white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 2.8;
}
.top p {
    color: #ABA8A8;
    
    padding: 40px 0;
}
.top img{
    width: 50%;
    border-radius: 50px;
    padding:20px ;
    margin-left: auto;
}

/*--------------------認養三步驟-----------------------*/


/* 認養步驟 */
.step{
    color: #636363;
    margin: 120px;
    max-width: 1200px;
    padding: 0 100px;
}

.step-box-img{
    width: 40%;

}

.step-box .img-left .step-box-img{
    order: -1;
}

.step-box-text{
    width: 60%;
    display: ruby;
    padding-right: 50px;
}

.step h1{
    font-size: 64px;
    font-weight:bold;
    text-align: center;
    padding: 5% 0;
}
.step h2{
    font-size: 36px;
    text-align: center;
    padding: 5% 0;
    color: #ABA8A8;
}

.step-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}

.step-box img{
    max-width: 100%;
    height: auto;
}

.step-box-text h3{
    background-color: #F7CAC9;
    width: 84px;
    height: 84px;
    font-size: 72px;
    text-align: center;
    border-radius: 20px;

}

.step-box-text h4{
    font-size: 40px;
    font-weight:bold;
    padding-left: 24px;
}

.step-box-text p{
    font-size: 20px;
    padding-top: 60px;
}

/*--------------------尋找你的理想夥伴-----------------------*/


.find-destiny{
    margin: 120px;

}

.sectionpets{
    background-color: #FFFFF3;
    margin: auto;
    border-radius: 50px;
    padding: 100px;
}
.sectionpets h1{
    font-size: 64px;
    font-weight:bold;
    text-align: center;
    color: #636363;
}

.sectionpets h2{
    font-size: 36px;
    padding: 5% 0;
    text-align: center;
    color: #ABA8A8;
}

.sectionpets ul{
    display: flex;
    font-size: 24px;
    padding: 5% 0;

}

.sectionpets .nav-underline .nav-item{
    width: 48%;
    text-align: center;
}



.pets-cards ul li{
    background-color: #ffffff;
    list-style: none;
    margin: 8px;
    padding-bottom: 20px;

}

.pets-cards .pet-card div{
    color: #636363;
    font-size: 24px;

}

.pets-cards .pet-card div img{
    width: 100%;
    height: 50%;
    
}


.pets-cards .pet-card .name .item{
    display: flex;
}

.pets-cards .pet-card .name h1{
    font-size: 32px;
    margin-right: 10px;
}

.pets-cards .pet-card .name i{
    color: #ABA8A8;
    font-size: 28px;
    
}

.pets-cards .pet-card .name{
    margin:16px;
}

.pets-cards .pet-card .per {
    display: flex;
    text-align: center;
    border-radius: 50px;
    margin: 0 16px;

}
.pets-cards .pet-card .per p{
    border: #7A7878 solid thin;
    border-radius: 30px;
    padding: 3px;
    margin-right: 10px;   
}

.pets-cards .pet-card .more{
    width: 88%;
    background-color: #FE9F9D;
    border-radius: 50px; 
    padding: 2%;
    text-align: center;
    margin: 0 auto;
}

.pets-cards .pet-card .more a{
    color: #f6f6f6;
    text-decoration: none;

}

.pets-cards span::before{
    content: '1歲';
    font-style: normal;    
}

.pets-cards span::after{
    content: '新竹';
}



/*--------------------狗派-----------------------*/


/*--------------------貓派-----------------------*/



/*--------------------毛孩學堂-----------------------*/

.article h1{
    font-size: 64px;
    font-weight:bold;
    text-align: center;
    color: #636363;
    padding: 5%;
}

.article h2{
    font-size: 36px;
    text-align: center;
    padding: 5% 0;
    color: #ABA8A8;
}

.article-box ul{
    margin: 120px;
}

.article-box ul li{
    list-style: none;
    margin-bottom: 40px;
}

.a-card{
    background-color: #ffffff;
    display: flex;
    border: #ABA8A8 solid thin;
    border-radius: 20px;
}
.a-card img{
    width: 30%;
    border-radius: 19px;
    margin: 16px;
}
.a-card .content{
    margin: 24px;
    
}

.a-card .content .title{
    display: flex;
    justify-content: space-between;

}

.a-card .content .title div{
    display: flex; 


}
.a-card .content .title span{
    border: #FE9F9D solid thin;
    font-size: 20px;
    border-radius: 15px;
    margin-right: 20px;
    padding: 3px;
    color: #FE9F9D;
}


.a-card .content .title h1{
    padding: 0;
    font-size: 28px;
    font-weight: bold;
}
.a-card .content .title h3{
    color: #CCCCCC;
    font-size: 16px;
    text-align: right;
    
}
.a-card .content p{
    margin: 40px 0;
    color: #ABA8A8;
    font-size: 18px;
    
}

.a-card .content .read {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.a-card .content .read a{
    color: #636363;
    text-decoration: none;

}



/*--------------------社群-----------------------*/

.social{
    padding: 2% 0;
}

.social ul{
    margin: 0 auto;
    display: flex;
    list-style: none;
    padding: 2% 0;
}

.social ul li{
    padding: 20px;
    margin: 20px;
    background-color: #FBF5EC;
    width: 33%;
    border-radius: 20px;
    color: #ABA8A8;
}

.social ul li .info{
    display: flex;
    padding-bottom: 24px;
}

.social ul li .info div{
    margin: 8px;

}


.social ul li img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.social ul li h5{
    color: #636363;
    font-size: 18px;
}

/* --------------------bottom------------------------->*/


.bottom-img img{
    max-width:100%;
    margin-top: 100px;
}


/*--------------------footer-----------------------*/

.footer{
    background-color: #8CDEA7;
    color: #f6f6f6;
    padding: 80px;
}

.footer img{
    width: 50px;
    height: 50px;
}

.footer ul{
    padding-left: 0;
    margin: 20px 0;
}


.footer ul i{ 
    font-size: 35px;
    margin-right: 10px;
}


.footer .copy-right{
    display: flex;
    justify-content: space-between;
}

.footer h4{
    font-size: 20px;
    text-align: left; 
}

.footer h5{
    font-size: 20px;
    text-align: right;
}
